name: Docker Build and Push to Scaleway Registry

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # --- Étape d'Authentification ---
      - name: Log in to Scaleway Container Registry
        uses: docker/login-action@v3
        with:
          # L'hôte du registre Scaleway
          registry: ${{ secrets.REGISTRY_HOST }}
          # Utilisation de l'utilisateur "nologin" et d'un Secret pour le mot de passe (token d'API Scaleway)
          username: nologin
          password: ${{ secrets.SCW_SECRET_KEY }}

      # --- Étape de Construction et Push ---
      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.REGISTRY_HOST }}/image_de_bg:latest
            ${{ secrets.REGISTRY_HOST }}/image_de_bg:sha-${GITHUB_SHA::7}
          cache-from: type=gha
          cache-to: type=gha,mode=max
